LLM_KEY=yourllmapikey
SHOTQUALITY_API_KEY=yourshotqualityapikey
LANGSMITH_API_KEY=yourlangsmithapikey
SMALL_MODEL_NAME=yoursmallmodelname
LARGE_MODEL_NAME=yourlargemodelname
MODEL_PROVIDER=yourmodelprovider

